<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org"
      th:replace="~{admin/layout :: layout('상품 목록', ~{::content}, ~{::scripts})}">
<body>
<div th:fragment="content" >

  <div class="page-header">
    <h2>상품 목록</h2>
  </div>

  <div style="display:flex; justify-content:space-between; align-items:center; margin: 0 15px 15px;">
    <form th:action="@{/admin/products/search}" method="get" class="search-form"  style="display:flex; align-items:center; gap:8px; margin:0;">
      <input type="text" name="name" th:value="${name}" placeholder="상품명 검색"
             style="height:40px; padding:0 12px; border:1px solid #ccc; border-radius:6px;">
      <button type="submit"
              class="btn btn-sm btn-primary"
              style="height:40px; padding:0 14px; display:flex; align-items:center; white-space:nowrap;">
        검색
      </button>
    </form>
    <a th:href="@{/admin/products/new}" class="btn-primary btn-lg">
      상품 등록
    </a>
  </div>

  <div style="margin: 0px 15px;">
  <table class="admin-table">
    <thead>
    <tr>
      <th>ID</th>
      <th>카테고리</th>
      <th>상품명</th>
      <th>상태</th>
      <th>가격</th>
      <th>대표이미지</th>
      <th>관리</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="product : ${products.content}">
      <td th:text="${product.id}"></td>
      <td th:text="${product.category}"></td>
      <td th:text="${product.name}"></td>
      <td th:text="${product.status}"></td>
      <td th:text="${#numbers.formatInteger(product.price, 3, 'COMMA')} + ' 원'"></td>
      <td>
        <img th:src="${product.mainImageUrl}" style="max-width:80px; border-radius:6px;"/>
      </td>
      <td
      >
        <a th:href="@{'/admin/products/' + ${product.id}}" class="btn btn-sm btn-primary">상세보기</a>
        <a href="#" onclick="alert('준비중입니다.'); return false;" class="btn-third">
          수정
        </a>
        <form th:action="@{'/admin/products/' + ${product.id} + '/delete'}" method="post" style="display:inline;">
          <button type="submit" class="btn btn-sm btn-primary" onclick="return confirm('정말 삭제하시겠습니까?');">
            삭제
          </button>
        </form>


      </td>
    </tr>
    <tr th:if="${products.totalElements == 0}">
      <td colspan="7" class="text-center">등록된 상품이 없습니다.</td>
    </tr>
    </tbody>
  </table>
  </div>

  <div class="pagination" style="text-align:center; margin-top: 20px;">
        <a th:if="${products.hasPrevious()}"
       th:href="@{/admin/products(page=${products.number - 1}, name=${name})}">이전</a>

    <span th:each="page : ${#numbers.sequence(0, products.totalPages - 1)}"
          th:classappend="${page == products.number} ? 'active'">
        <a th:href="@{/admin/products(page=${page}, name=${name})}"
           th:text="${page + 1}"></a>
    </span>

    <a th:if="${products.hasNext()}"
       th:href="@{/admin/products(page=${products.number + 1}, name=${name})}">다음</a>
  </div>

</div>
<th:block th:fragment="scripts"></th:block>

</body>
</html>
